body {
	background-color: transparent;
}

#menu-title {
	font-family: Cornerstone;
	font-size: 28px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.6px;
	color: #ffffff;
	text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.character-name {
	font-family: Cornerstone;
	font-size: 32px;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 1.5px;
	text-align: center;
	color: #ffffff;
	text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
	background-color: transparent;
	border: 2px solid white;
}

.job-info {
	min-height: 260px;
	border-radius: 0.5px;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0), #000000);
	font-family: OpenSans;
	font-size: 18px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.4px;
	color: #ffffff;
	padding: 5px;
}

.job-name {
	background-color: transparent;
	font-family: OpenSans;
	font-size: 18px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.8px;
	color: #ffffff;
	padding-left: 5px;
	display: block;
	border: 0;
	border-radius: 0;
}

.job-name-selected {
	background-image: linear-gradient(to left, rgba(176, 40, 55, 0), #b22938);
	cursor: pointer;
	font-weight: 700;
}

.job-name:active {
	outline: none;
}

.job-name:focus {
	outline: none;
}

.job-name:hover {
	background-image: linear-gradient(to left, rgba(176, 40, 55, 0), #b22938);
	cursor: pointer;
	font-weight: 700;
}

.red-stripe {
	background-image: linear-gradient(to top, #b42938, #b42938);
	background-size: auto 3px;
	background-repeat: repeat-y;
	padding-left: 5px;
}

.top-level-menu {
	font-family: OpenSans;
	font-size: 22px;
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 1px;
	text-align: center;
	color: #ffffff;
}